body {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #444444;
}

a {
  text-decoration: none;
}
h1 {
  font-size: 54px;
  font-weight: 900;
  font-style: italic;
}
h2 {
  font-size: 22px;
  font-weight: normal;
  font-style: italic;
}
.headline {
  font-size: 28px;
  font-weight: bold;
}
